-r requirements.txt

# --- Development Tools ---

# Testing
pytest==9.0.2
pytest-cov==7.0.0
pytest-django==4.12.0

# Linting & Formatting
ruff==0.15.1

# Type Checking
mypy==1.19.1

# Git Hooks
pre-commit==4.5.1

django-stubs[compatible-mypy]==6.0.1
